<nav class="navbar navbar-expand-md bg-secondary navbar-dark">
  <a class="navbar-brand" routerLink="/">
    <span class="fa fa-space-shuttle"></span>&nbsp;Scribe</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" (click)="navToggle = !navToggle;">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/live">Live</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/archive">Archive</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/training">Training</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/help">Help</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Profile</a>
          <ul class="dropdown-menu dropdown-menu-right multi-column columns-2">
            <div class="row" style="width: 370px;">
              <div class="col-sm-5">
                <ul class="multi-column-dropdown" style="list-style-type: none">
                  <li><h3>IMAGE</h3></li>
                  <li><a href="#" style="font-size: 14px">Upload Image</a></li>
                </ul>
              </div>
              <div class="col-sm-7">
                <ul class="multi-column-dropdown" style="list-style-type: none">
                  <li><h3>Username</h3></li>
                  <li><a href="#" style="font-size: 14px">Change Password</a></li>
                  <li><a href="#" style="font-size: 14px">Logout</a></li>
                </ul>
              </div>
            </div>
          </ul>
        </li>
    </ul>
  </div>
</nav>
<br />
<router-outlet></router-outlet>