.channel-button{
    width: 140px; 
    font-size:30px;
    margin-left: 10px;
}

.add-channel-button{
    width: 60px; 
    font-size:30px;
    margin-left: 10px;
}

.channel-header{
    font-size:22px;
}

.channel-container{
    display: inline-block; 
    height: 100%;
    margin: auto;
    float: none;
}