<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header"> Live Stream</div>
          <div class="card-body">
            <a routerLink="/live">
              <h4>Listen to live EVS channels.</h4>
            </a>
            <p>This will let you listen to live streams of EVS channels. You can select multiple channels at once, correct the AUDREY-interpreted text, and search through the log of what you've listened to.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">Archived Streams</div>
          <div class="card-body">
            <a routerLink="/archive">
              <h4>Listen to archived EVS audio.</h4>
            </a>
            <p>This will let you listen to archived streams of EVS channels. You can filter through the archived data by text, date/time, speaker, and channel. You can also make corrections to the AUDREY-interpreted text.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">Training</div>
          <div class="card-body">
            <a routerLink="/training">
              <h4>Train AUDREY</h4>
            </a>
            <p>This will let you use the microphone on your computer, and see the AUDREY-interpreted text as it is generated. You can then make corrections to any errors in the interpreted text.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>