<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign In</h3>
			</div>
			<div class="card-body">
				<div class="error-message" *ngIf="showError">
					{{errorMessage}}
				</div>
				<form>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-user"></i></span>
						</div>
						<input [(ngModel)]="usernameInput" type="text" class="form-control" placeholder="username" name="usernameInput">
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-key"></i></span>
						</div>
						<input [(ngModel)]="passwordInput" type="password" class="form-control" placeholder="password" name="passwordInput">
					</div>
					<div class="row align-items-center remember">
						<input type="checkbox">Remember Me
					</div>
					<div class="form-group">
						<input type="submit" value="Login" class="btn btn-secondary float-right login_btn" (click)="login()">
					</div>
				</form>
			</div>
			<div class="card-footer">
        <!-- 
				<div class="d-flex justify-content-center links">
					Don't have an account? <a href="#">Sign Up</a>
				</div> -->
				<div class="d-flex justify-content-center">
					<a href="#">Forgot your password?</a>
				</div>
			</div>
		</div>
	</div>
</div>